body{
    background:linear-gradient(180deg, black, grey);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background: linear-gradient(180deg, black, grey);
    margin: 0;
    padding: 10px;
    color: white;
    border-radius: 8ps;
}img{
    border-radius: 50%;
    border: 10px solid whitesmoke;
}

section{
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: gray;
    box-shadow: 0 0 20px rgba(0, 0, 1, 1);
}h3{
    color: whitesmoke;
    font-size: 1.8rem;
}li{
    color: #000000;
    font-size: 1.1rem;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
}


